backups
etc
logs
mail
perl5
public_ftp
ssl
tmp
www

app/user_files/*

.bash_logout
.bash_profile
.bashrc
.contactemail
.cpanel-logs
.cpanel/
.dns
.lastlogin
access-logs

.ssh/
app/php/dbinfo.php
.cphorde
